ul {
    display:flex;
    list-style-type:none;
    justify-content:center;
    background-color:white;
    padding: 0px;
    margin:0px
    FLEX-WRAP:WRAP;

}
li {
    margin: 15px;
}
li :hover {
    background: color #2c3e50;;
    color:white;
    padding: 5px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
   
}
.hero {
    text-align: center;
    margin-top: 50px;
    padding:20px;
    margin: 20px;
}
.hero,h1{
    font-size: 50px;  
}
.hero,p{
    font-size: 20px;

}
.mission{
    text-align: center;
    margin-top: 50px;
    padding:20px;
    margin: 20px;
}
#button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:black;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#footer{
    text-align: center;
    padding: 10px;
    background-color:brown;
    color: black;
    }
body {
    background: color #f4f4f4;
    font-style: normal;
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../ASSETS/WhatsApp\ Image\ 2026-05-11\ at\ 10.37.46.jpeg);
    background-size: cover;
    background-position: center;
    
}
.statistics {
    text-align: center;
    margin-top: 50px;
    padding:20px;
    margin: 20px;
    
}
.contact-info {
    text-align: center;
    margin-top: 50px;
    padding:20px;
    margin: 20px;
}
#signs,ul {
    text-align: left;
    margin-top: 50px;
    padding:20px;
    margin: 20px;
    background-color:transparent
}
    
    

